<!-- Homepage FanEdge -->

<!doctype html>

<html>
<head>
<title> FanEdge </title>
<link rel="stylesheet" href="homepageStyles.css" type="text/css">
<link rel="stylesheet" href="unslider-master/dist/css/unslider.css">
<link rel="stylesheet" href="unslider-master/dist/css/unslider-dots.css">
</head>

<body>
<div class="outercontainer">
<div class="header">
<div class="logobox"><a href="homepage.html">FAN/EDGE</a></div><!--close logobox-->
<div class="slogan">      Your Home For Fantasy Basketball</div><!--close slogan-->
<div class="nav">
<ul>
  <li><a href="homepage.html"><u>Home</u></a></li>
  <li><a href="playerNews.html">Fantasy Help</a>
    <ul class="dropdown">
      <li><a href="playerNews.html">Player News</a></li>
      <li><a href="hotPickups.html">Hot Pickups</a></li>
      <li><a href="players.html">Players</a></li>
      <li><a href="tradeanalyzer.html">Trade Analyzer</a></li>
    </ul>
  </li>
  <li><a href="contactUs.html">Careers</a>
    <ul class="dropdown">
      <li><a href="contactUs.html">Apply!</a></li>
    </ul>
  </li>
  <li><a href="about.html">About</a></li>
</ul>
</div><!--close navbar-->
</div><!--close header-->
<div class="slider">
    <ul>
        <li><img src="Images/banners/aipano.jpg"/></li>
        <li><img src="Images/banners/nhlpano.jpg"/></li>
        <li><img src="Images/banners/basketballpano.jpg"/></li>
    </ul>
</div><!--close slider-->
<div class="homepagehalfitem">
  <div class="homepagehalfitemheader"> <strong> Top Three Pickups: </strong> </div> <!-- end of hotpickups header -->
  <div class="threePickups">
    <div class="playerNameCeltics"> <img class="nbaLogo" src="Images/celticsLogo.png"> Evan Turner - G/F - Celtics - 61% Owned</div>
    <p> Last 7 Games: FG%: 48.3%, FT%: 100%, 3s: 0.3, Reb: 3.3, Ast: 3.3, Stl: 2.7, Blk: 0.7, TO: 2.3, Pts: 13.0 </p>
    <div class="playerNameKings"> <img class="nbaLogo" src="Images/kingsLogo.png"> Seth Curry - G - Kings - 9% Owned </div>
    <p> Stats: 55.1% 92.3% 2.4 1.6 2.4 1.2 0.0 1.6 15.6 </p>
    <div class="playerNameKings"> <img class="nbaLogo" src="Images/kingsLogo.png"> Willie Cauly-Stein - C/F - Kings - 30% Owned</div>
    <p> Stats: 53.5% 80.0% 0.0 7.8 1.6 0.6 1.0 0.8 11.6 </p>
    <div id="seeMore"> <a href="hotPickups.html"> See Full List </a> </div>
  </div>
</div><!--closehomepageitem-->
<div class="divider">
</div>
<div class="homepagehalfitem">
  <div class="homepagehalfitemheader"><strong> Player News: </strong> </div> <!-- end of homepage half item header -->
  <div class="playerNews">
    <div class="playerNameSuns"> <img class="nbaLogo" src="Images/sunsLogo.png"> Devin Booker - G - Suns </div>
    <p>Earl Watson said that he wants Devin Booker to do a better job of balancing his scoring duties with his playmaking responsibilities.</p>
    <div class="playerNameSpurs"> <img class="nbaLogo" src="Images/spursLogo.png"> Tony Parker - G - Spurs </div>
    <p>Tony Parker said he doesn't believe Gregg Popovich will rest the Spurs' studs for Thursday's game against Golden State.</p>
    <div class="playerNameNets"> <img class="nbaLogo" src="Images/netsLogo.png"> Brook Lopez - C - Nets </div>
    <p> Sean Marks has assured Brook Lopez that he will be a building block for the franchise, and not a trade chip.</p>
    <div class="playerNameHeat"> <img class="nbaLogo" src="Images/heatLogo.png"> Dwyane Wade - G - Heat </div>
    <p> Dwyane Wade (neck) went through a complete practice on Monday, and he's expected to be a game-time call for Tuesday vs. Detroit. </p>
    <div class="playerNameHornets"> <img class="nbaLogo" src="Images/hornetsLogo.png"> Nicolas Batum - G/F - Hornets </div>
    <p> Steve Clifford said Nicolas Batum's strained left knee, which forced him to miss the second half of Sunday's loss to Cleveland, is not considered a long-term concern. </p>
    <div class="playerNameCeltics"> <img class="nbaLogo" src="Images/celticsLogo.png"> Evan Turner - G/F - Celtics </div> 
    <p> Evan Turner started Sunday's game and had 17 points on 7-of-12 shooting with four rebounds, four assists and one 3-pointer in 36 minutes, but he exited late with an eye injury. </p>
    <div class="playerNameLakers"> <img class="nbaLogo" src="Images/lakersLogo.png"> Lou Williams - G - Lakers</div>
    <p> Lou Williams was a healthy DNP-CD vs. Boston on Sunday and coach Byron Scott said that he doesn't expect to play Williams down the stretch.  </p>
    <div class="playerNameCeltics"> <img class="nbaLogo" src="Images/celticsLogo.png"> Jae Crowder - F - Celtics </div>
    <p> Jae Crowder (ankle) finished Sunday's road victory with 22 points (6-of-18 FGs, 8-of-9 FTs), five rebounds, four assists, five steals and two 3-pointers in just 31 minutes of action.</p>
    <div class="playerNameWarriors"> <img class="nbaLogo" src="Images/warriorsLogo.png"> Stephen Curry - G - Warriors </div>
    <p> Stephen Curry scored a game-high 39 points to lead the Warriors past the Blazers on Sunday, making 13-of-21 FGs with a 9-of-13 mark from downtown.</p>
    <div class="playerNameBlazers"> <img class="nbaLogo" src="Images/blazersLogo.png"> Damian Lillard - G - Trail Blazers </div>
    <p> Damian Lillard scored 38 points on Sunday but he was out-dueled by Stephen Curry, finishing a loss at Oracle Arena with four 3-pointers, four assists, three rebounds and zero turnovers in 36 minutes.</p>
    <div class="playerName76ers"> <img class="nbaLogo" src="Images/76ersLogo.png"> Nerlens Noel - C/F - 76ers </div>
    <p> Coach Brett Brown said Nerlens Noel (knee) is somewhere between questionable and doubtful against the Pelicans on Tuesday. </p>

    <div id="seeMore"> <a href="playerNews.html"> See More Player News </a> </div>
  </div> <!-- End of playernews -->
</div><!--closehomepageitem-->

<div class="homepagebigitem">
<p>What Do We Do?</p>
</div><!--close homepagebigitem-->

<div class="homepagesmallitem">
<p>
FanEdge uses advanced statistics and custom Deep Learning Algorithms to provide real time analysis and help you beat your friends in fantasy basketball
</p>
</div><!--close homepagesmallitem-->

<div class="clearDiv"> </div> <!-- cleared! -->

<div class="footer">
<div class="footerbox">
FAN/EDGE &#x2122;
</div><!--closefooterbox-->

<div class="footerbox">
<a href="contactUs.html">FAQ</a></div><!--closefooterbox-->

<div class="footerbox">
CONTACT<br/>
dbegert@usc.edu<br/>
</div><!--closefooterbox-->

<div class="footerbox">
CONNECT<br/><br/>
<a href="https://www.facebook.com"> 
      <img  src="Images/fbLogo.png"
          class="connect"/>
    </a>
    <a href="http://twitter.com"> 
      <img  src="Images/twitterLogo.jpg"
          class="connect"/>
    </a>
    <a href="http://instagram.com">
      <img  src="Images/instaLogo.jpg"
          class="connect"/>
    </a>
</div><!--closefooterbox-->
</div><!--close footer-->
</div><!--close outercontainer-->

</body>
</html>